.blogLinkerContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.blogLinkerContainer h2 {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}