.blogListContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 2 columns */
    margin: 0 12px;
    gap: 12px;     /* Make space between each individual item within blogList */
}

@media screen and (min-width:600px) {
    .blogListContainer {
        grid-template-columns: repeat(2, 1fr); /* 1 column */
    }
}

@media screen and (min-width: 900px) {
    .blogListContainer {
        grid-template-columns: repeat(3, 1fr); /* 1 column */
    }
}