<!DOCTYPE html>

<html>
    <head>
        <title>
            Blog1 Page
        </title>
        <link rel="stylesheet" href="../Styles/styles.css">
    </head>
    <body>
        <nav class="navbar">
            <h2 class="logo">
                <a href="blog.html">Bootcamp Website</a>
            </h2>
             <ul class="nav-list">
                <li><a href="blog.html">Blog</a></li>
            </ul>
        </nav>
        <main>
            <div class=blog-entry>
                <div class="blog-header">
                    <div class="blog-header-image">
                        <img src="../Assets/tempIcon.png">
                    </div>
                    <div class="blog-header-title">
                        <h2>
                            Blog no. 1
                        </h2>
                        <h3>
                            <i>10/13/25</i>
                        </h3>
                    </div>
                </div>
                <div class="blog-content">
                    <p>
                        This is where the content for this blog entry will be. (will be filled out in more detail/prettier when scaffolding the React app with custom components)
                    </p>
                </div>
            </div>
        </main>
    </body>
</html>