/* CSS for navigation */
.navbar {
  top: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  color: var(--darkBlue);
  margin: 10px 10px;

  /* Debug border */
  /* border: solid red; */
}

.navlist {
  display: flex;
  flex-direction: row;
  position: relative;
  list-style: none;

  /* Debug border */
  /* border: solid blue; */
}

.navlist a {
  margin: 0 15px;
  text-decoration: none;

  font-family: "Sofia";
  font-size: 13px;
  transition: all ease 0.1s;
}

.navlist a:hover {
  color: var(--mediumBlue);
  text-decoration: underline solid var(--mediumBlue) 1px;
}

.navlist a:active {
  color: var(--mediumBlue);
  text-decoration: underline solid var(--mediumBlue) 1px;
}