.buttonContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* h2 starts on the right */
    align-items: center;
    width: fit-content;
    overflow: hidden;
    background-color: var(--darkBlue);
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 9999px;
    transition: all ease 0.1s;
}

.buttonContainer h2 {
    font-family: "Sofia";
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: var(--white);
}

.buttonContainer img {
    opacity: 0;
    width: 0;
    height: 13px;
    transition: all 0.3s;
}

.buttonContainer:hover {
    background-color: var(--mediumBlue);
}

.buttonContainer:hover img {
    opacity: 1;
    width: 13px;
    height: 13px;
    margin-left: 2px;
}