.blockContainer {
    background-color: var(--transpareny05White);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 3px rgba(11, 28, 61, 0.2); /* purple underglow */
    padding: 10px;
    border-radius: 8px;
}