/* CSS for navigation */
.navbar {
  top: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  width: 100%;
  padding-inline: 20px;
  padding-block: 20px;

  position: absolute;
}

.navlist {
  display: flex;
  flex-direction: row;
  position: relative;
  list-style: none;

  gap: 20px;
}