.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* h2 starts on the right */
    align-items: center;
    overflow: hidden;
    padding-inline: 3px;
    border: 2px solid var(--subTextColor);
    border-radius: 4px;
}

.buttonContainer h2 {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: var(--subTextColor)
}

.buttonContainer img {
    opacity: 0;
    width: 0;
    height: 13px;
    transition: all 0.3s;
}

.buttonContainer:hover img {
    opacity: 1;
    width: 13px;
    height: 13px;
    margin-left: 2px;
}