<!DOCTYPE html>

<html>
    <head>
        <title>
            Blogs
        </title>
        <link rel="stylesheet" href="../Styles/styles.css">
    </head>
    <body>
        <nav class="navbar">
            <h2 class="logo">
                <a href="blog.html">Bootcamp Website</a>
            </h2>
             <ul class="nav-list">
                <li><a href="blog.html">Blog</a></li>
            </ul>
        </nav>
        <main>
            <h3>
                Check out some of the published blogs below!
            </h3>
            <div id="blog-container"></div>
        </main>
        <script src="./blog.js"></script>
    </body>
</html>