.subheadingContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.subheadingContainer h2 {
    font-family: "Sofia";
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: var(--darkBlue)
}