.logo {
    background: linear-gradient(to right, var(--gradientBlue), var(--gradientTeal));
    background-size: 150% 150%;
    background-clip: text;                /* Standard syntax */
    -webkit-background-clip: text;        /* clips gradient to text shape */
    -webkit-text-fill-color: transparent; /* hides actual text color */
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;

    font-family: monospace;
    font-size: 20px;

    transition: background-position 0.35s ease;
}

.logo:hover {
    background-position: 100%;
}