.commentContainer {
    background: var(--darkBlue);
    border-radius: 12px 12px 0px 12px;
    padding: 5px 10px;

    display: flex;
    flex-direction: column;

    font-family: "Sofia";
    color: var(--white);
}

.commentContainer h2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 13px;
}

.commentContainer p {
    font-size: 11px;
}