@import "tailwindcss";

:root {
  --darkBlue: #1D5C9B; /* #0a1122 */
  --mediumBlue: #5ca6de;
  --lightBlue: #EEF7FE; /* #0b1c3d; */
  --white: #FAFAFA;
  --black: #000000;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(
      circle at top left,
      var(--lightBlue) 0%,
      var(--white) 60%
    ),
    linear-gradient(
      to bottom right,
      var(--white),
      var(--white)
    );
  background-attachment: fixed;
  color: #262c41;
}

@font-face {
  font-family: "Sofia";
  src: url("./fonts/sofia-pro-bold.otf");
}

/*
body::before {
  content: "";
  position: fixed;
  top: -10%;
  right: -10%;
  width: 400px;
  height: 400px;
  background: radial-gradient(
    circle,
    var(--aqua) 0%,
    transparent 70%
  );
  filter: blur(100px);
  z-index: 0;
  pointer-events: none;
}

body::after {
  content: "";
  position: fixed;
  bottom: -10%;
  left: -10%;
  width: 400px;
  height: 400px;
  background: radial-gradient(
    circle,
    var(--aqua) 0%,
    transparent 70%
  );
  filter: blur(120px);
  z-index: 0;
  pointer-events: none;
}

*/

/* Ensures all content stays above glow */
.main-content {
  position: relative;
  z-index: 1;
}