.contactBackgroundContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.contactContentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  margin: 0 100px;
  gap: 30px;
  z-index: 1;
}

.contactNotificationContainer {
  position: fixed;
  bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding-inline: 12px;

  width: 100%;
  z-index: 9999;
}

@media (max-width: 600px) {
  .contactNotificationContainer {
    position: fixed;
    bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding-inline: 12px;

    width: 100%;
    z-index: 9999;
  }

  .contactContentContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    margin: 0 12px;
    gap: 30px;
    z-index: 1;
  }
}