.notification {
    display: inline-block;
    width: fit-content;
    max-width: 100%;
    padding: 5px;
    border-radius: 12px;
    padding: 5px 10px;
    pointer-events: none;
    opacity: 0;
    backdrop-filter: blur(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(0);
}

.in {
    visibility: visible;
    opacity: 1;
    transform: translateY(-10px);
}

.out {
    visibility: visible;
    opacity: 0;
    transform: translateY(0);
}

/* Just color differences */
.success {
    border: 1px solid rgba(0, 255, 0, 0.1);
    background: rgba(0, 255, 0, 0.05);
    color: rgba(0, 255, 0, 1);
}

.failure {
    border: 1px solid rgba(255, 0, 0, 0.1);
    background: rgba(255, 0, 0, 0.05);
    color: rgba(255, 0, 0, 1);
}